<%- include('../partials/header') %>
  <ul>
    <% skills.forEach(function(s, idx) { %>
      <li>
        <a href=<%= '/skills/'+idx %>>
          <%= s %></a>
        
      </li>
    <% }); %>
  </ul>
  <a href="/skills/new">Add new skill</a>

  <%- include('../partials/footer') %>